.bg-reviews{
    background-image: url(../../../images/helpCenter-img/help2.jfif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: #69626D; */
    background-color: rgba(19, 5, 26, 0.7);
    background-blend-mode: overlay;
}